extends layout

block content
  div#map

  div#list-stations
    ul
      li
        div
          h4.titre Les stations proches
        div.separator-titre

  div#nearest-station
    div.name
      h4 00036 - PLACE SCHUMAN
    p.distance 0.09184231318293262 12

  div#actions
    div#center-button
      img(src="/images/center.png" width=20)

    div#list-button
      img(src="/images/list.png" width=20)
