extends layout

block content
  div#map

  div#list-stations
    ul
      li
        div
          h4.titre Les stations proches
        div.separator-titre

  div#nearest-station


  div#actions
    div#center-button
      img(src="/velibos/static/center.png" width=20)

    div#list-button
      img(src="/velibos/static/list.png" width=20)
